QMainWindow {
    background-color: rgb(215, 219, 227);
    color: rgb(0, 0, 0);
}

QFrame#framePrediccion QFrame[type="header"] {
    background-color: rgb(43, 48, 61);
    color: rgb(255, 255, 255);
}

QFrame#framePrediccion > QFrame[type="value"] {
    background-color: rgb(176, 182, 200);
    color: rgb(0, 0, 0);
}

QFrame[type="value"] > QLabel {
    color: rgb(0, 0, 0);
}